<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="agape_rfid_desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="agape_rfid_desktop.Properties.Settings.agapeConnectionString"
            connectionString="Data Source=santam.dyndns.org\SQLEXPRESS;Initial Catalog=agape;User ID=agape;Password=agape"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <agape_rfid_desktop.Properties.Settings>
            <setting name="photoPath" serializeAs="String">
                <value>C:\Documents and Settings\User\Desktop\mint-lab\desc</value>
            </setting>
            <setting name="productDescriptionDataPath" serializeAs="String">
                <value>C:\Documents and Settings\User\Desktop\mint-lab\desc</value>
            </setting>
            <setting name="templatePath" serializeAs="String">
                <value>C:\Documents and Settings\User\Documenti\Visual Studio 2008\Projects\agape-rfid\agape-rfid-desktop</value>
            </setting>
            <setting name="outputWordFilePath" serializeAs="String">
                <value>C:\Documents and Settings\User\Desktop</value>
            </setting>
        </agape_rfid_desktop.Properties.Settings>
    </userSettings>
</configuration>
